certifi==2021.5.30
commonmark==0.9.1
dataclasses==0.6
decorator==5.1.1
flatbuffers==2.0
future==0.18.2
joblib==1.1.0
mpmath==1.2.1
numpy==1.21.0
onnx==1.11.0
onnx-simplifier==0.3.10
onnxconverter-common==1.9.0
onnxoptimizer==0.2.7
onnxruntime==1.11.1
opencv-python==4.6.0.66
Pillow==8.4.0
protobuf==3.19.4
Pygments==2.12.0
rich==12.4.4
scikit-learn==0.24.2
scipy==1.5.4
skl2onnx==1.11.2
sympy==1.10.1
threadpoolctl==3.1.0
timm==0.3.2
torch==1.7.0
torchvision==0.8.1
typing_extensions==4.1.1
