torch==1.8.0
torchvision==0.9.0
onnx==1.10.1
gym==0.15.7
tensorflow==2.6.0
atari-py==0.1.7
opencv-python==4.5.5.64
scikit-image==0.14.2
tqdm==4.31.1
pandas==1.3.5
pathlib==1.0.1
seaborn==0.9.0
roboschool==1.0.49