Onnx==1.7.0                                                
torchvision==0.8.0                                               
numpy==1.21.6                                                
onnx-simplifier==0.3.6                                                 
onnxoptimizer==0.3.1                                              
onnxruntime==1.21.1                                               
decord==0.6.0                                              
scipy==1.7.0                                                          |
opencv-contrib-python==4.5.3.56                                              
opencv-python==4.5.3.56                                              
mmcv-full==1.3.9                                                
einops==0.3.0                                              
sympy==1.10.1                                                
pandas==1.3.5                                                
torchaudio==0.7.0       
cudatoolkit==10.1.0                                                
decorator==5.1.1                                                
attrs==22.1.0                                                 
psutil==5.9.2                                                 
absl-py==1.2.0                                              
tensorflow==2.10.0                                            
tqdm==4.64.1                                                                     