onnx==1.11.0
onnx-simplifier==0.3.7
onnxruntime==1.10.0
opencv-contrib-python==4.5.5.64
packaging==21.3
Pillow==8.4.0
protobuf==3.19.4
pycocotools==2.0.4
pyparsing==3.0.7
python-dateutil==2.8.2
sympy==1.10
terminaltables==3.1.10
torch==1.8.0
torchvision
cython
numpy