aipp_op{
    aipp_mode:static
    input_format : RGB888_U8

    src_image_size_w : 224
    src_image_size_h : 224

    crop: false

    min_chn_0 : 127.499997
    min_chn_1 : 127.499997
    min_chn_2 : 127.499997
    var_reci_chn_0: 0.00784314
    var_reci_chn_1: 0.00784314
    var_reci_chn_2: 0.00784314
}
