torch == 1.9.0
torchvision == 0.10.0
onnx == 1.9.0
onnx-simplifier == 0.3.6
onnxruntime == 1.8.0
numpy == 1.21.6
Cython == 0.29.25
Opencv-python == 4.5.4.60
pycocotools == 2.0.3
#mmcv == 0.2.16
#mmdet == 1.0.0
Pytest-runner == 5.3.1
protobuf == 3.20.0
decorator == 5.1.1
sympy == 1.10.1
tqdm == 4.64.1