benchmark.x86_64
benchmark_tools/
fusion_result.json
kernel_meta/
infer_onnx_res/
prep_dataset/
result/
vit_bak/
*.onnx
*.om
xh_env.sh
*.json
prof/
run
*.txt
*.info
nohup.out
!modelzoo_level.txt
!requirements.txt

