# 参考YOLOv5原pytorch代码仓库的版本信息装包
# https://github.com/ultralytics/yolov5/blob/v6.0/requirements.txt
# 以下为本仓库代码开发时所用包的版本信息
torch==1.10.1
torchvision==0.11.2
onnx==1.10.1
onnx-simplifier==0.3.6
onnxruntime==1.6.0
pycocotools>=2.0
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
scipy>=1.4.1
tqdm>=4.41.0
