librosa==0.8.0
scipy==1.7.1
torch==1.9.0
onnxruntime==1.6.0
numpy==1.21.5
onnx==1.12.0
wave==0.0.2
Unidecode==1.3.3
inflect==5.4.0
onnxoptimizer==0.2.6
onnx-simplifier==0.3.5
matplotlib
sympy
pillow
git+https://github.com/NVIDIA/dllogger@v0.1.0#egg=dllogger