torchvision
cycler==0.10.0
Cpython==0.29.24
matplotlib==3.4.3
numpy==1.21.1
opencv-python==4.5.3.56
Pillow==9.1.0
pycocotools==2.0.2
future==0.18.2
scikit-learn==1.0
scipy==1.7.1
tqdm==4.62.3