torch == 1.8.0
torchvision == 0.9.0
onnx == 1.10.2
onnxruntime == 1.21.1
onnx-simplifier == 0.3.6
numpy == 1.21.5
h5py == 3.7.0
scipy == 1.2.0 
sklearn == 0.0
Pillow == 9.2.0
six == 1.16.0
decorator == 5.1.1
tqdm == 4.64.1