bcolz 
mxnet 
tensorboardX 
matplotlib 
easydict 
opencv-python 
einops
scikit-image 
imgaug 
PyTurboJPEG
scikit-learn
termcolor 
prettytable
timm==0.3.4
torchvision==0.9.1
pyyaml
decorator
sympy
Pillow==9.1.0
