scipy
numpy
soundfile
python-levenshtein
torchelastic
visdom
wget
librosa
numba==0.54.0
llvmlite==0.37.0
tqdm
matplotlib
flask
sox
sklearn
soundfile
pytest
hydra-core
google-cloud-storage==1.42.3
jupyter
