protobuf==3.13.0 
onnx-simplifier==0.3.5
isort==4.3.21 
numpy==1.21.2
Cython==0.29.30
h5py==3.4.0
Pillow==9.1.1 
six==1.16.0
scipy==1.7.3
opencv-python==4.5.2.54 
matplotlib==3.5.2
tb-nightly==2.10.0a20220527
future==0.18.2
yacs==0.1.8
gdown==4.4.0
flake8==4.0.1
yapf==0.32.0
imageio==2.19.2
torch==1.11.0 
onnx==1.7.0 
torchvision==0.12.0
onnxruntime==1.10.0
onnxoptimizer==0.2.7