apex==0.1+ascend.20220315
torch==1.5.0+ascend.post5.20220315
decorator==5.1.0
protobuf==3.19.1
sympy==1.9
numpy==1.21.4
Pillow==8.4.0
timm==0.3.2
torchvision==0.2.2.post3
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1