torch == 1.5.0
torchvision == 0.6.0
onnx == 1.7.0
onnx-simplifier == 0.3.6
numpy == 1.21.1
Pillow == 8.2.0
opencv_python == 4.5.3.56
scipy == 1.7.1
einops ==0.3.2
protobuf == 3.20.0
pyyaml == 6.0
addict == 2.4.0
yapf == 0.32.0
tqdm == 4.64.1
scikit-build == 0.16.7