aipp_op {
  aipp_mode: static
  input_format: RGB888_U8

  src_image_size_w: 100
  src_image_size_h: 32

  csc_switch: true
  rbuv_swap_switch: true

  matrix_r0c0 : 76
  matrix_r0c1 : 150
  matrix_r0c2 : 30
  matrix_r1c0 : 0
  matrix_r1c1 : 0
  matrix_r1c2 : 0
  matrix_r2c0 : 0
  matrix_r2c1 : 0
  matrix_r2c2 : 0
  output_bias_0 : 0
  output_bias_1 : 0
  output_bias_2 : 0

  var_reci_chn_0: 0.0039215686
  var_reci_chn_1: 0.0039215686
  var_reci_chn_2: 0.0039215686
}
