paddle2onnx==1.0.5
paddlepaddle==2.3.2
attrs==22.2.0
decorator==5.1.1
scipy==1.7.3
sympy==1.10.1
Cython==0.29.35
lanms==1.0.2
matplotlib==3.5.3
opencv-contrib-python==4.4.0.46
opencv-python==4.4.0.46
Pillow==9.3.0
Polygon3==3.0.9.1
protobuf==3.20.0
PyYAML==6.0
tqdm==4.63.0
geos==0.2.3
shapely==1.8.5.post1