#Files
*.pyc
*.pyo
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
eval/save_results/
eval/save_color/
save/
*.log
*/*.log
*.json
*/*.json
*/kernel_meta/
eval/scatter_test.py
train/test_down.py
train/test_model.py
train/record/
train/record_pre/
/kernel_meta/
/record/
/demo_outputs/