numpy
decorator==5.1.0
sympy==1.9
termcolor>=1.1
Pillow==8.4.0
yacs>=0.1.6
tabulate
cloudpickle
matplotlib
tqdm>4.29.0
tensorboard
fvcore
iopath>=0.1.2
pycocotools>=2.0.2
future
pydot
omegaconf
opencv-python
torchvision==0.6.0