aipp_op{
    aipp_mode:static
    input_format : YUV420SP_U8
    csc_switch: true
    # 目前设置为true
    rbuv_swap_switch: true

    # 不裁剪时缩放后的原图宽高即模型输入宽高
    src_image_size_w : 304
    src_image_size_h : 304
    crop: false

    # 均值：255x[0.485, 0.456, 0.406]，方差：1/(255x[0.229, 0.224, 0.225])
    min_chn_0 : 127
    min_chn_1 : 127
    min_chn_2 : 127
    var_reci_chn_0: 0.0078125
    var_reci_chn_1: 0.0078125
    var_reci_chn_2: 0.0078125

    # 模型输入为RGB序时的配置
    matrix_r0c0: 256
    matrix_r0c1: 0
    matrix_r0c2: 359
    matrix_r1c0: 256
    matrix_r1c1: -88
    matrix_r1c2: -183
    matrix_r2c0: 256
    matrix_r2c1: 454
    matrix_r2c2: 0
    input_bias_0: 0
    input_bias_1: 128
    input_bias_2: 128
}
