antlr4-python3-runtime==4.8
certifi==2020.12.5
cffi==1.12.3
colorama==0.4.4
Cython==0.29.24
hydra-core==1.0.7
importlib-resources==5.2.2
numpy==1.21.0
omegaconf==2.0.6
portalocker==2.0.0
pycparser==2.20
PyYAML==5.4.1
regex==2021.7.6
sacrebleu==1.5.1
tabulate==0.8.9
torch==1.8.0
tqdm==4.62.2
typing-extensions==3.10.0.2
zipp==3.5.0
onnx-simplifier==0.4.17
