backcall
certifi
Cython
easydict
ipython
matplotlib-inline
mpmath
numpy
opencv-python
parso
pexpect
pickleshare
Pillow
scipy
six
sympy
te
tensor-fused-plugin 0.1+ascend
topi==0.4.0
torchvision
tqdm
traitlets
urllib3
wcwidth