torch==1.11.0
torchvision==0.12.0
clip-benchmark==1.5.0
huggingface-hub==0.16.4
transformers==4.33.0
tokenizers==0.13.3
timm==0.6.11
protobuf==3.20.3
sentencepiece==0.1.99
regex==2023.8.8
ftfy==6.1.1
tqdm
