*.pyc

src/utils/kaldi_io.py

tools/kaldi-io-for-python/
tools/kaldi

test/exp
test/data
test/dump
test/fbank
test/inference
test/output*
test/can.sh
test/env_npu2.sh
test/env_npu3.sh
test/fusion_result.json
src/sp_model.py



# MISC
.DS_Store
.nfs*
.vscode
__pycache__
nohup.out
kernel_meta