aipp_op{
    aipp_mode:static
    input_format : RGB888_U8

    src_image_size_w : 608
    src_image_size_h : 608    

    crop: false

    csc_switch : false
    rbuv_swap_switch : false
    
    # ֵһ
    min_chn_0 : 0
    min_chn_1 : 0
    min_chn_2 : 0
    var_reci_chn_0: 0.003921568627451
    var_reci_chn_1: 0.003921568627451
    var_reci_chn_2: 0.003921568627451

}